* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -wekbit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;
}



body {
    font-family: 'Palanquin', sans-serif;
    background: #EFF1FF;
    font-size: 1.6rem;
    height: 100vh;
}


h1 {
    font-weight: 400;
    font-size: 4rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


h1,
span {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

header {
    background: #8E9AAF;
    display: grid; 
    place-items: center;
    
}


#logo-mobile {
    padding: 3.2rem 0;
}

#logo-desktop {
    display: none;
}

footer {
    display: none;
}


.title {
    background: #CBC0D3;
    margin-bottom: 2.9rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem 2.5rem 6rem;
}

.text {
    font-family: 'Palanquin', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #23053A;
    margin-bottom: 1rem;
    
   /* min-width: 31.5rem;*/
}

.intro-desktop {
    display: none;
}

.cards {
    display: grid;
    gap: 3.2rem;
    margin-top: 5rem;
    padding-left: 4.4rem;
}

.cards .card {
    position: relative;
    margin-bottom: 3.2rem;
    width: 32rem;
    overflow: hidden;
    border-radius: 2rem;
}


.card img {
    transition: 400ms all;
    
}

.card img:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 2rem;
}


.cards .card span {
    font-family: 'Staatliches', cursive;
    position: absolute;
    background: #FEEAFA;

    border-radius: 2rem;
    color: #4A4E69;
    padding: 0.5rem 1rem;

    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.03em;

    width: 11.2rem;
    top: 16px;
    right: 16px;
    text-align: center;
    z-index: 10;
}


footer {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4A4E69;
    text-align: center;

}

footer p {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4A4E69;
    text-align: center;

}

footer p a {
    font-weight: 700;
    text-decoration: none;
    color: #4A4E69;
    
}

@keyframes FadeInTop {
    0% {
        opacity: 0;
        transform: translatey(1.5);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media(min-width: 900px) {


    .container {
        display: flex;   
        
    }

    header {
        width: 37.7rem;
        height: 100vw;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    .cards {
        margin-top: 6.4rem;
        padding-left: 18rem;
    }

    .title {
        margin-bottom: 3.2rem;
    }

    .text {
        display: none;
    }

    .intro-desktop {
        display: block;
        color: #FFFFFF;
        font-size: 1.8rem;
        line-height: 1.5rem;
        width: 28rem;
        text-align: center;
        
    }

    .cards {
        margin-left: 37.7rem;
        grid-template-areas: 
        'A B'
        'C B'
        'C D'
        'E F'
        ;
    }
    .cards .card:nth-child(1){
        grid-area: A;
    }

    .cards .card:nth-child(2){
        grid-area: B;
    }

    .cards .card:nth-child(3){
        grid-area: D;
    }

    .cards .card:nth-child(4){
        grid-area: C;
    }

    .cards .card:nth-child(5){
        grid-area: E;
    }
    .cards .card:nth-child(6){
        grid-area: F;
    }


    #logo-mobile {
        display: none;
    }

    #logo-desktop {
        display: block;
        padding: 3.2rem 0;
    }

    footer {
        padding: 2rem;
        margin-left: 37.7rem;
        text-align: center;
        display: block;
    }


    footer p {
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #4A4E69;
        text-align: center;
        padding-left: 15rem;
        
    }
    
    footer p a {
        font-weight: 700;
        text-decoration: none;
        color: #4A4E69;
        
    }
    


    
}


@media (min-width: 1440px) {
    .cards {
        grid-template-areas: 
        'A B C'
        'D B E'
        'D F E';
    }

    .cards .card:nth-child(1){
        grid-area: A;
    }

    .cards .card:nth-child(2){
        grid-area: B;
    }

    .cards .card:nth-child(3){
        grid-area: C;
    }

    .cards .card:nth-child(4){
        grid-area: D;
    }

    .cards .card:nth-child(5){
        grid-area: F;
    }
    .cards .card:nth-child(6){
        grid-area: E;
    }

    
}